/* Responsive corner */
/* Mobile part */
@media screen and (max-width: 576px) {
  .menu-container,
  .menus,
  .online-games-container,
  .instantly-play,
  .career {
    flex-direction: column;
  }
  .additional-menu-items {
    margin-bottom: 30px;
  }

  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-content {
    padding-left: 50px;
  }

  .banner-images img {
    max-width: 400px;
  }
  .banner-content h2 {
    font-size: 2rem;
  }
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-list p {
    font-size: 0.8rem;
  }
  .btn-primary {
    font-size: 0.8rem;
  }
  .online-games h3 {
    font-size: 1.8rem;
  }
  .online-games p {
    font-size: 0.8rem;
  }

  .instantly-play {
    padding-left: 70px;
  }
  .instant-content {
    margin: 10px;
  }
  .instant-img img {
    width: 80%;
  }
  .instant-sub-image {
    width: 40%;
    top: 65%;
    left: -10%;
  }
  .career-title {
    font-size: 1.8rem;
  }
  .career-description {
    font-size: 0.8rem;
  }

  .career-content {
    padding-left: 40px;
  }
  .career-description {
    max-width: 400px;
  }

  .career-img img {
    width: 80%;
    padding: 40px;
  }

  .footer-header {
    padding-bottom: 10px;
  }
  .footer-mean-one,
  .footer-mean-two {
    flex-wrap: wrap;
    gap: 10%;
    padding: 20px;
  }

  .socail-icons {
    flex-wrap: wrap;
    gap: 80px;
    padding: 40px;
  }
}

/* tablet part */
