/* Using work sans font from google font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* 
Shared Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.primary-color {
  color: #f948b2;
}

.secondary-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  border-radius: 48px;
  background: #ff42a5;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 41px;
}

.btn-secondary {
  margin-left: 24px;
  background: #4ec5f7;
}

/* Nav Styles */
.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
}

.header-logo img {
  height: 24px;
}

.menus {
  display: flex;
  align-items: center;
  gap: 32px;
}

.additional-menu-items {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 15px 23px;
}

.menus li {
  list-style: none;
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}

.menus a {
  text-decoration: none;
  color: black;
}

/* Banner Styles */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 70px;

  /* 
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  ); */
}

.banner-list {
  display: flex;
  align-items: center;
}

.banner-content {
}

.banner-images {
  background: white;

  margin-top: 19px;
}

.banner-content h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.banner-content h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 5.9rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.banner-list p {
  margin-bottom: 17px;
  margin-left: 10px;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}
